<h1>New Upload</h1>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<%= form_for @upload, :html => {:multipart => true} do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.file_field :video %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
